.button1{
  display: block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align: center;
  transition: all 0.2s;
  margin-left: 0.5em;
}

.button2{
  display: block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align: center;
  transition: all 0.2s;
  margin-left: 0.5em;
}

.button1:hover{
  background-color:#4095c6;
}

.button2:hover{
  background-color:#4095c6;
}

input{
  display: inline;
  margin-left: 0.5em;
  width: 20%;

}

input:hover{
  background-color: lightblue;
  border: 3px solid #555;
}

h1{
  font-size: 2em;
  margin-left: 0.5em;
  margin-top: 0.67em;
  font-weight: bold;
}

h3{
  font-size: 2em;
  margin-left: 0.5em;
  margin-top: 0.67em;
  font-weight: bold;
}
