<!--<input type="text" [(ngModel)]="name">
<p>Bem vindo, {{name}}</p>-->

<!--Foto de Perfil e titulo-->
<div class="foto-texto" >
  <img src="https://i.ibb.co/VtxPyD2/69555708-1294802020698338-9068255668007337984-n.jpg" class="rounded-circle mx-auto d-block " alt="Responsive image">
  <h1 class="display-3 text-center">Luis Almeida</h1>
  <h1 class="display-6 text-center">Web Developer</h1>
</div>

<br>
<br>

<div class="box">
  <div class="card">
    <div class="imgBx">
        <img src="https://i.ibb.co/47HMGkN/Webp-net-resizeimage.png" alt="images">
    </div>
    <div class="details">
        <h2><span>Angular</span></h2>
    </div>
  </div>
   <div class="card">
     <div class="imgBx">
        <img src="https://i.ibb.co/9ZSGN4q/Webp-net-resizeimage-1.png" alt="images">
     </div>
     <div class="details">
        <h2><span>HTML</span></h2>
      </div>
   </div>
   <div class="card">
     <div class="imgBx">
        <img src="https://i.ibb.co/YyGsnMq/Webp-net-resizeimage-2.png" alt="images">
     </div>
     <div class="details">
        <h2><span>CSS</span></h2>
      </div>
   </div>
   <div class="card">
    <div class="imgBx">
       <img src="https://i.ibb.co/VWsJ6fL/Webp-net-resizeimage-3.png" alt="images">
    </div>
    <div class="details">
       <h2><span>JavaScript</span></h2>
     </div>
  </div>
  <div class="card">
    <div class="imgBx">
       <img src="https://i.ibb.co/QFbswfS/c.png" alt="images">
    </div>
    <div class="details">
       <h2><span>C</span></h2>
     </div>
  </div>
  <div class="card">
    <div class="imgBx">
       <img src="https://i.ibb.co/QFbswfS/c.png" alt="images">
    </div>
    <div class="details">
       <h2><span>C#</span></h2>
     </div>
  </div>
</div>


<footer class="bg-white">
  <!-- Copyrights -->
  <div class="bg-light py-4">
    <div class="container text-center">
      <p class="text-muted mb-0 py-2">© 2021 Luis Almeida All rights reserved.</p>
    </div>
  </div>
</footer>
