<!--<input type="text" [(ngModel)]="name">
<p>Bem vindo, {{name}}</p>-->

<!--Foto de Perfil e titulo-->
<div class="foto-texto">
<img src="https://i.ibb.co/VtxPyD2/69555708-1294802020698338-9068255668007337984-n.jpg" class="rounded-circle mx-auto d-block " alt="Responsive image">
<h1 class="display-3 text-center">Luis Almeida</h1>
<h1 class="display-6 text-center">Web Developer</h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="https://static.miraheze.org/dreamsitwiki/3/3c/AngularJS-Shield-huge2.png" class="card-img-top" alt="Responsive image">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" class="card-img-top w-75 p-3" alt="..." >
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://lh3.googleusercontent.com/proxy/i1rjsgYpODaU7101B4mxZb2qX2NLyrWNjsPsE4ReBkjCl_znhrMER-8KzYSxfu1D54dFcm_dfShuN-YK4PcHRz2-CxFqdOyFdgBS1KVMOJZvIK31LlLnrHu8GuBV4PUofaBSXG2U4fPcheq2070" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

